@charset "utf-8";
@import url(./ReDisignCommon.css);
@import url(./ReDisignVariable.css);

/* header */

header {
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
}

header nav {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  color: white;
  font-size: var(--font-size-14);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 50px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(214, 214, 214, 0.5);
}

header nav menu {
  width: 60%;
  justify-content: space-between;
}
header nav menu li {
  transition: 0.3s;
}
header nav menu li:hover {
  color: black;
}

header .main-img {
  background: url(./helinoxImages/Mask\ group.png) no-repeat 50% / cover;
  height: 100vh;
}

header .main-img .main-text {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  min-width: 730px;
}
header .main-img .main-text h1 span {
  font-weight: 900;
}
header .main-img .more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-color: white;
  color: white;
}

header .main-text-box .text-box1 {
  width: 25%;
  aspect-ratio: 1;
  background-color: #ddd;
}
header .main-text-box .text-box1 h2 span {
  font-size: 1rem;
  display: block;
}
.img55 {
  background: ;
}
